@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar-nav .nav-link {
    font-weight: bold;
}
.navbar-nav .nav-link:hover {
    color: #007bff; 
    transition: color 0.3s;
    
}
.btn-cont-read {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border-radius: 12px;
    border: none;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #0d6efd;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .btn-cont-read:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    border-radius: 12px;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #0d6efd;
    z-index: -1;
  }
  
  .btn-cont-read:hover, .btn-cont-read:focus {
    color: white;
  }
  
  .btn-cont-read:hover:before, .btn-cont-read:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .btn-cont-read:active {
    transform: scale(0.9);
  }
.container-fluid .img-container{
    height: 80vh;
    width: 100%;
    background-image: url('./images/bg-img-3.jpeg');
    /* background-image: url('./images/bg-img-5.jpeg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.heading-cont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;

}
.heading-cont h1 a{
    text-decoration: none;
    color: white;
}
#featured-3{
    background: none;
    box-shadow: none;
}

.underline-red {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; 
}

.underline-red::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px; 
    background-color: red; 
}
.images img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.button-container button{
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
}
.section1{
    padding: 53px;
}
.section1 p a{
    text-decoration: none;
}
.section2{
    padding: 53px;
}
.section3{
    padding: 53px;
}
.section1:hover{
    background-color: #688fcb;
    border-radius: 12px;
    color: white;
    transition: 0.6s ease all;
    color: white;
}
.section2:hover{
    background-color: #688fcb;
    border-radius: 12px;
    transition:  0.3s ease all;
    color: white;
}
.section3:hover{
    background-color: #688fcb;
    border-radius: 12px;
    transition: 0.3s ease all;
    color: white;
}
#s1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#s2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#s3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#s4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#s5{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#s6{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#s7{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#cont1 {
    display: none !important;
    box-shadow: none !important;
  }
#cont2 {
   display: none !important;
    box-shadow: none !important;
  }
#cont3 {
    display: none !important;
    box-shadow: none !important;
  }
#cont4 {
    display: none !important;
    box-shadow: none !important;
  }
#cont5 {
    display: none !important;
    box-shadow: none !important;
  }
#cont6 {
    display: none !important;
    box-shadow: none !important;
  }
#s8{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#c1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c4{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c5{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c6{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c7{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c8{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c9{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c10{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c11{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#c12{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#i1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#i2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#i3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#i4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
#prev{
    background-color: #0d6efd;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#next{
    background-color: #0d6efd;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.rotate-on-hover {
    transition: transform 0.5s ease-in-out;
    border: 1px solid lightgrey;
    padding: 25px;
}

.rotate-on-hover:hover {
    transform: rotate(360deg);
}

.container {
    background-color: rgb(232, 242, 245);
    padding: 50px 40px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 25px #a7a7a7;
}

.tag {
    text-align: center;
    font-size: 1.1rem;
}

.fa-heart {
    color: rgba(255, 230, 0, 0.959);
    font-size: 30px;
}

.card {
    height: 320px;
    padding: 10px 20px;
    border: none;
    box-shadow: -1px 3px 5px #a7a7a7;
}

.testimonial {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.active-star {
    color: #FBC02D;
    margin-bottom: 8px;
}

.active-star:hover {
    color: #F9A825;
    cursor: pointer;
}

.profile {
    padding-top: 10px;
}

.name {
    font-weight: 700;
}

.designation {
    font-size: 0.84rem;
    font-weight: 600;
}

.owl-carousel {
    margin-bottom: 15px;
}

.owl-carousel .owl-stage-outer {
    padding: 40px 10px;
    height: 380px;
}

.owl-carousel .owl-item img {
    width: 45px !important;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.owl-theme .owl-nav [class*='owl-'] {
    border-radius: 50% !important;
    background: inherit !important;
    border: 3px solid #bbb;
    color: #bbb !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    border: 3px solid #1010ca;
    color: #1010ca !important;
}

@media(max-width: 575.5px) {
    .container {
        margin: 0px;
        padding: 20px;
    }
}

.navbar {
    background: #222222;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #0d6efd;
    transition: width 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #0d6efd;
}

.nav-link {
    padding: 15px 5px;
    transition: color 0.2s;
}
.nav-link:hover{
    color: #0d6efd !important;
    transition: 0.6s ease all;
}















/* Carousel home */

section {
    width: 100%;
    height: 100vh;
  }
  
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
  }
  .slide-image {
    position: absolute;
    top: -200px;
    left: -200px;
    width: calc(100% + 400px);
    height: calc(100% + 400px);
    background-position: 50% 50%;
    background-size: cover;
  }
  .slide-title {
    font-size: 4rem;
    line-height: 1;
    max-width: 100%;
    white-space: normal;
    word-break: break-word;
    color: #FFF;
    z-index: 100;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
  }
  @media (min-width: 45em) {
    .slide-title {
      font-size: 7vw;
      max-width: none;
    }
  }
  .slide-title span {
    white-space: pre;
    display: inline-block;
    opacity: 0;
  }
  
  .slideshow {
    position: relative;
  }
  .slideshow-pagination {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: .3s opacity;
    z-index: 10;
  }
  .slideshow-pagination-item {
    display: flex;
    align-items: center;
  }
  .slideshow-pagination-item .pagination-number {
    opacity: 0.5;
  }
  .slideshow-pagination-item:hover, .slideshow-pagination-item:focus {
    cursor: pointer;
  }
  .slideshow-pagination-item:last-of-type .pagination-separator {
    width: 0;
  }
  .slideshow-pagination-item.active .pagination-number {
    opacity: 1;
  }
  .slideshow-pagination-item.active .pagination-separator {
    width: 10vw;
  }
  .slideshow-navigation-button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5rem;
    z-index: 1000;
    transition: all .3s ease;
    color: #FFF;
  }
  .slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
  }
  .slideshow-navigation-button.prev {
    left: 0;
  }
  .slideshow-navigation-button.next {
    right: 0;
  }
  
  .pagination-number {
    font-size: 1.8rem;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    padding: 0 0.5rem;
  }
  
  .pagination-separator {
    display: none;
    position: relative;
    width: 40px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
    transition: all .3s ease;
  }
  @media (min-width: 45em) {
    .pagination-separator {
      display: block;
    }
  }
  .pagination-separator-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    transform-origin: 0 0;
  }
  

  h2 {
    text-align: center;
    padding: 20px;
}
/* carousel home ends */

/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    background-color: none; /* Remove background color */
    box-shadow: none; /* Remove box-shadow */
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}





.testimonials-wrap {
    padding: 40px 0;
}
.heading-section {
    text-align: center;
}
.sub-heading {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
    font-size: 28px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 15px;
}
.testimonial-box {
    display: block;
    position: relative;
    padding: 30px 20px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .08);
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}
.carousel-testimonial .item {
    padding: 30px 10px;
}
.quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
    color: #adadad;
    font-size: 14px;
}
.carousel-testimonial .owl-nav {
    text-align: center;
}
.carousel-testimonial .owl-nav button.owl-next, 
.carousel-testimonial .owl-nav button.owl-prev {
    padding: 0 12px !important;
}
.carousel-testimonial .owl-nav button {
    outline: none;
    padding: 0;
}


.carousel-testimonial .owl-nav button.owl-next span, 
.carousel-testimonial .owl-nav button.owl-prev span {
    display: block;
    font-size: 40px;
    width: 25px;
    height: 25px;
    /* vertical-align: 0px; */
    line-height: 16px;
}
.carousel-testimonial .owl-nav button.owl-next.disabled, 
.carousel-testimonial .owl-nav button.owl-prev.disabled {
    opacity: 0.5;
}
  

/* our projects carousel */
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}
/* our projects carousel */




#welcome-text {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, #92c9b1, #92c9b1 20px, #b3e0d2 20px, #b3e0d2 40px);
  }








