#b1{
    height: 225px;
    width: 225px;
}
#b2{
    height: 225px;
    width: 225px;
}
#b3{
    height: 225px;
    width: 225px;
}
#b4{
    height: 225px;
    width: 225px;
}
#b5{
    height: 225px;
    width: 225px;
}
#b6{
    height: 225px;
    width: 225px;
}